In [17]:
from openbb import obb

In [18]:
obb.equity.price.historical("SPY").to_df()

              open    high     low   close    volume
date
2004-01-02  111.74  112.19  110.73  111.23  38072300
2004-01-05  111.69  112.52  111.59  112.44  27959800
2004-01-06  112.16  112.73  112.00  112.55  20472800
2004-01-07  112.39  113.06  111.89  112.93  30170400
2004-01-08  113.25  113.41  112.77  113.38  36438400
...            ...     ...     ...     ...       ...
2025-11-28  680.95  683.66  680.50  683.39  49063416
2025-12-01  678.80  682.99  678.74  680.27  59124176
2025-12-02  681.88  683.82  679.33  681.53  61864253
2025-12-03  680.57  684.91  679.69  683.89  56313318
2025-12-04  685.37  685.37  681.34  684.39  60823130

[5520 rows x 5 columns]

Balance Sheet metrics.

In [19]:
obb.equity.fundamental.metrics("ABC,AAPL").to_df()

,symbol,market_cap,pe_ratio,foward_pe,eps,price_to_sales,price_to_book,book_value_per_share,price_to_cash,cash_per_share,...,debt_to_equity,long_term_debt_to_equity,quick_ratio,current_ratio,gross_margin,profit_margin,operating_margin,return_on_assets,return_on_equity,payout_ratio
0,ABC,65890000000,42.71,17.39,7.95,0.21,43.68,7.78,14.99,22.65,...,6.19,5.94,0.55,0.90,0.0316,0.0048,0.0114,0.0216,1.4431,0.2763
1,AAPL,4119350000000,37.37,30.61,7.46,9.90,55.86,4.99,75.31,3.70,...,1.52,1.22,0.86,0.89,0.4691,0.2692,0.3197,0.3093,1.7142,0.1366

Custom stock screener

In [22]:
obb.equity.compare.groups(
    group="industry",
    metric="valuation",
    provider="finviz"

).to_df()

,name,market_cap,performance_1d,pe,forward_pe,peg,eps_growth_past_5y,eps_growth_next_5y,volume,price_to_sales,price_to_book,price_to_free_cash_flow,sales_growth_past_5_years,price_to_cash
0,Insurance - Reinsurance,43490000000,-0.0085,12.23,6.88,0.96,0.0428,0.1278,2370000,0.75,1.00,3.01,0.1614,NaN
1,REIT - Mortgage,66910000000,0.0050,13.94,7.51,4.98,-0.0425,0.0280,66360000,2.02,0.92,11.14,0.1782,4.48
2,Paper & Paper Products,14260000000,-0.0011,10.66,7.97,NaN,-0.1387,-0.0459,5720000,0.75,1.22,12.58,0.0551,2.88
3,Broadcasting,13640000000,-0.0099,13.72,8.52,NaN,0.3116,-0.0944,14890000,0.59,1.50,5.74,0.2587,6.83
4,Marine Shipping,34580000000,0.0011,8.04,8.88,0.99,0.3197,0.0814,14940000,1.13,0.74,7.11,0.1759,4.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,REIT - Healthcare Facilities,246110000000,0.0005,101.04,61.25,3.53,-0.0617,0.2863,27940000,8.86,2.75,34.19,0.1099,24.43
140,REIT - Office,60630000000,-0.0166,40.11,78.61,0.71,-0.2766,0.5662,33870000,3.20,1.02,10.82,0.0380,10.70
141,Pharmaceutical Retailers,859970000,0.0853,NaN,83.06,NaN,0.0570,NaN,18590000,1.14,3.96,54.64,0.2706,7.20
142,Uranium,65760000000,-0.0341,133.59,83.91,2.95,0.0341,0.4527,91380000,20.56,7.39,80.59,0.1323,19.09
143,Shell Companies,33080000000,-0.0013,106.66,626.70,3.51,NaN,0.3039,28400000,11.88,1.48,NaN,NaN,74.30

In [24]:
obb.equity.compare.groups(
    group="technology",
    metric="performance",
    provider="finviz"
).to_df()

,name,performance_1d,performance_1w,performance_1m,performance_3m,performance_6m,performance_1y,performance_ytd,analyst_recommendation,volume,volume_average,volume_relative
0,Solar,-0.0060,-0.0461,-0.1107,0.1794,0.4672,0.2546,0.4048,1.85,37970000,51250000,0.74
1,Consumer Electronics,-0.0069,-0.0020,0.0305,0.1641,0.3532,0.1573,0.1215,2.00,56950000,78010000,0.73
2,Computer Hardware,0.0095,0.0089,-0.0668,0.1451,0.4839,0.4544,0.4519,1.74,230470000,319140000,0.72
3,Software - Infrastructure,0.0075,0.0095,-0.0549,-0.0290,0.0517,0.1461,0.1892,1.52,513159999,595800000,0.86
4,Electronic Components,0.0032,0.0096,-0.0208,0.2014,0.5352,0.7433,0.7936,1.71,37160000,52150000,0.71
5,Semiconductors,0.0061,0.0177,-0.0170,0.1374,0.3804,0.4108,0.4168,1.44,489470000,653030000,0.75
6,Communication Equipment,0.0062,0.0210,0.0194,0.1351,0.2482,0.2824,0.3036,2.08,209050000,257620000,0.81
7,Electronics & Computer Distribution,0.0046,0.0227,-0.0029,-0.0749,0.0102,-0.0482,0.0084,2.42,2680000,3350000,0.80
8,Information Technology Services,-0.0043,0.0250,0.0349,0.0303,-0.0782,-0.1278,-0.1033,2.16,246050000,287770000,0.86
9,Software - Application,0.0105,0.0354,-0.0216,-0.0627,-0.1017,-0.1048,-0.0571,1.72,438780000,474140000,0.93
10,Scientific & Technical Instruments,0.0077,0.0424,0.0657,0.0807,0.1741,0.1039,0.1708,2.05,22310000,24860000,0.90
11,Semiconductor Equipment & Materials,-0.0018,0.0428,0.0316,0.4360,0.5679,0.5871,0.6814,1.84,42420000,54310000,0.78

In [25]:
obb.equity.compare.groups(
    group="sector",
    metric="overview",
    provider="finviz"
).to_df()

,name,market_cap,performance_1d,dividend_yield,pe,forward_pe,peg,float_short,volume,Stocks
0,Utilities,1763950000000,-0.0107,0.0292,20.86,16.84,2.05,0.0227,210910000,108
1,Energy,3623960000000,-0.0094,0.0411,16.53,13.73,1.87,0.0299,673470000,253
2,Basic Materials,2420440000000,-0.0044,0.0195,23.99,15.70,1.19,0.0288,713590000,274
3,Healthcare,8504700000000,-0.0031,0.0153,25.82,19.08,1.56,0.0526,1180000000,1105
4,Consumer Defensive,4185680000000,-0.0027,0.0255,26.26,19.93,3.38,0.0250,543980000,245
5,Industrials,6639440000000,-0.0026,0.0118,28.69,23.16,2.28,0.0498,973590000,688
6,Financial,14071100000000,-0.0012,0.0179,18.89,15.86,1.59,0.0168,1490000000,996
7,Real Estate,1677750000000,-0.0011,0.0391,33.98,30.73,2.49,0.0493,352290000,262
8,Consumer Cyclical,9319940000000,0.0030,0.0075,29.20,23.65,1.85,0.0485,1170000000,572
9,Technology,26652330000000,0.0040,0.0056,40.13,26.48,1.61,0.0333,2330000000,777
10,Communication Services,12558580000000,0.0087,0.0053,40.03,35.39,2.30,0.0277,896840000,276